{
 "root": true,
 "env": {
   "commonjs": true,
   "jasmine": true,
   "node": true,
   "es6": true
 },
 "parser": "babel-eslint",
 "parserOptions": {
  "sourceType": "module"
 },
 "extends": "eslint:recommended",
 "rules": {
   "no-case-declarations": "off",
   "no-console": ["warn"],
   "semi": ["error", "always"]
 }
}
